{
  "name": "__SCOPE__/rush-__NODE_OS__-__NODE_ARCH__",
  "version": "__VERSION__",
  "description": "rush prebuilt binary for __NODE_OS__-__NODE_ARCH__ (unofficial fork build of charmbracelet/crush).",
  "license": "FSL-1.1-MIT",
  "homepage": "https://github.com/PHPCraftdream/rush",
  "os": [
    "__NODE_OS__"
  ],
  "cpu": [
    "__NODE_ARCH__"
  ],
  "files": [
    "bin/__BIN__",
    "LICENSE"
  ]
}
